html {
  font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans",sans-serif;
}

#page {
  margin-top: 4em;
}

#menu {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #aa1384 0px, #8266b7) repeat scroll 0 0;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#menu ul.menu li a {
  color: #fff;
  text-transform: uppercase;
}

#menu ul.menu li a:hover,
#menu ul.menu li a.is-active {
  color: #ffc15a;
}

#logo {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0 0.5em 2px 0.5em;
  margin: 0;
  display: inline;
  letter-spacing: -1px;
  font-family: Lato, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}

#logo:hover {
  color: #ffc15a;
  border-color: #ffc15a;
}

#intro {
  color: #ffffff;
  height: 40rem;
  background-attachment: fixed;
  background-image: url("../media/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro-content {
  font-size: 4em;
  background-color: rgba(0,0,0,0.5);
  padding: 0 1rem;
  z-index: 1;
}

main section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#notice {
  font-size: 80%;
}

#services h2 {
  color: #fff;
}

#services {
  background-attachment: fixed;
  background-image: url("../media/process.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /*text-shadow: 1px 1px 1px #000;*/
  color: #000;
}

#services p {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
}

#works {
  background-attachment: fixed;
  background-image: url("../media/process.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#works h2 {
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: -.9375rem;
}

#works .columns.white {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#works .columns h3 {
  margin-left: -.9375rem;
}

#works .columns h3 span {
  background-color: #a61b89;
  color: #fff;
  padding-left: 0.5em;
  padding-right: 0.25em;
}

#how .columns {
  margin-bottom: 2rem;
}

#email {
  font-size: inherit;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}

#email:not(.loading):hover {
  color: #a61b89;
}

#email.loading {
  color: #868688;
}