body, h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New"
}

main {
  height: 100%;
}

html, body {
  height: 100%;
}

#left {
  color: #000;
  background-color: #fff;
}

#right {
  color: #fff;
  background-color: #000;
}